<div class="main-page">
    <div class="poster">
       <a [routerLink]="[videoUrl,{id : currentId}]"  target="_blank"> 
        <img  [src]='imgPath' class="img-film"/>
       </a>
    </div>
    <div class="films-list"> 
        <ul class="ul-film">
            <li *ngFor="let combineFilm of combineFilmList" class="li-film"><a class="main-text" (mouseover)="mouseover(combineFilm)"  [routerLink]="[videoUrl,{id : currentId}]" target="_blank">{{combineFilm.homeFilm.description}}</a></li>
        </ul>
    </div>
   
</div>
<div class="navigation">
    <div class="film_area">
        <label class="label_style_area">地区</label>
        <div class="area">
            <div *ngFor="let area of areaList" class="attr">{{area.data_name}}</div>
        </div>


    </div>
    <div class="film_type">
        <label class="label_style_type">类型</label>
        <div class="type">
            <div *ngFor="let type of typeList" class="attr">{{type.data_name}}</div>
        </div>
    </div>

</div>
